.verify-email-page-style {
  min-height: 100vh;

  .title3 {
    color: $textPrimary;
  }

  .text-white {
    color: $white;
  }

  .description {
    color: $textPrimary;
    font-size: 14px;
  }
}

// Join Hero Section
.verify-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .form-section {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 50px;
  }

  .btn-join {
    margin-left: 20px;
    width: 280px;
    white-space: nowrap;
  }

  .flex-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
  }

  .logo-section {
    position: absolute;
    width: 100%;
    height: 353px;
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: 0px;

    .logo-img {
      position: relative;
      height: 65px;
      width: 65px;
    }

    .logo-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 168px;
      height: 168px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        content: '';
        background: rgba(127, 100, 159, 0.3);
        width: 168px;
        height: 168px;
        border-radius: 100%;
        filter: blur(50px);
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #352645 0%, rgba(53, 38, 69, 0) 100%);
    }
  }

  .image-style {
    position: absolute;
    height: 620px;
    overflow: hidden;
    background: url('../../assets/images/illustrations/illustration.svg');
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    top: 100px;
    filter: blur(20px);

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      content: '';
      background: linear-gradient(180.24deg, rgba(16, 17, 24, 0) 11.95%, rgba(16, 17, 24, 0.45) 23.91%, #101118 41.28%);
    }
  }

  // text styles here
  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .title1 {
      color: $textPrimary;
      text-align: center;
    }

    .text-white {
      color: $white;
    }

    .description {
      color: $textPrimary;
      text-align: center;
      max-width: 50%;
    }
  }

  .social-images {
    margin-top: 5px;

    .social-icons {
      display: flex;
      align-items: center;

      a {
        margin: 0 8px;
      }
    }
  }

}


// Community Driven Component
.community-driven-component {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url('../../assets/images/illustrations/driven.svg') no-repeat right;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 100%;
    content: '';
    background: #101118;
    filter: blur(196.51px);
  }


  .title4 {
    color: #FFFCED;
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 20px;
  }

  .content-section {
    position: relative;
    z-index: 1;
  }

}