@layer base {
  @font-face {
    font-family: "Recife";
    font-weight: 200;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Light.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Light.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: 300;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Book.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Book.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Book.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: "normal";
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Regular.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Regular.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: 500;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Medium.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Medium.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: 600;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/SemiBold.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/SemiBold.woff") format("woff"),
      url("../assets/fonts/Recife/woff/SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: 700;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Bold.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Bold.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Recife";
    font-weight: 800;
    font-style: "normal";
    src: url("../assets/fonts/Recife/otf/Black.otf") format("opentype"),
      url("../assets/fonts/Recife/woff/Black.woff") format("woff"),
      url("../assets/fonts/Recife/woff/Black.woff2") format("woff2");
  }
}



// // ######################################## //
// // ## FONTS.SCSS ## //
// // ######################################## //

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/reckless/RecklessNeue-Thin.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/reckless/RecklessNeue-Light.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Light.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/reckless/RecklessNeue-Regular.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/reckless/RecklessNeue-Medium.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/reckless/RecklessNeue-SemiBold.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/reckless/RecklessNeue-Bold.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "reckless";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/reckless/RecklessNeue-Heavy.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Heavy.ttf") format('truetype');
}

@font-face {
  font-family: "reckless-book";
  font-style: normal;
  src: url("../assets/fonts/reckless/RecklessNeue-Book.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/reckless/RecklessNeue-Book.ttf") format('truetype');
}


@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono/JetBrainsMono.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/JetBrainsMono/JetBrainsMono.ttf") format('truetype');
}





.font-heading-serif {
  font-family: 'reckless', 'Recife' ,serif !important;
}