@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/scss/bootstrap";

@import './fonts.scss';

// variables
@import "./variables/colors";
@import "./variables/mixins";

// Pages Style here
@import '../pages/join/join';
@import '../pages/verifyEmail/verifyEmail';
@import '../pages/mint/mint';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  // font-family: 'Bitter', serif;
}

.main-bg {
  background: $bgColor;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-white {
  color: $white;
}

.flickity-enabled:focus {
  outline: none;
}

p {
  font-family: 'Roboto Mono', monospace;
}

// text color
.text-golden {
  color: $color-golden !important;
}

.text-gradient {
  background: linear-gradient(94.66deg, rgba(255, 254, 236, 0.6) 1.25%, rgba(214, 232, 109, 0.6) 55.7%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.opacity-70 {
  opacity: 0.7;
}

// titles here
.title1,
.title2,
.title3,
.title4,
.title5 {
  font-family: 'Bitter', serif;
}

.title1 {
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 0.98px;
}

.title2 {}

.title3 {
  font-size: 30px;
line-height: 38px;
}

.title4 {}

.title5 {}

.title6 {}

.description {
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -2%;
}

.p-section {
  padding: 84px 24px;

  @screen md {
    padding: 24px 48px;
  }

  @screen lg {
    padding: 48px 96px;
  }

  @screen xl {
    padding: 48px 108px;
  }

  @screen 2xl {
    padding: 48px 124px;
  }
}

.px-section {
  padding-left: 24px;
  padding-right: 24px;

  @screen md {
    padding-left: 48px;
    padding-right: 48px;
  }

  @screen lg {
    padding-left: 96px;
    padding-right: 96px;
  }

  @screen xl {
    padding-left: 108px;
    padding-right: 108px;
  }

  @screen 2xl {
    padding-left: 124px;
    padding-right: 124px;
  }
}

.-px-section {
  margin-left: -24px;
  margin-right: -24px;

  @screen md {
    margin-left: -48px;
    margin-right: -48px;
  }

  @screen lg {
    margin-left: -96px;
    margin-right: -96px;
  }

  @screen xl {
    margin-left: -108px;
    margin-right: -108px;
  }

  @screen 2xl {
    margin-left: -124px;
    margin-right: -124px;
  }
}



// Section paddings when side bar is there!
.px-ws-section {
  padding-left: 24px;
  padding-right: 24px;

  @screen md {
    padding-left: 48px;
    padding-right: 48px;
  }

  @screen lg {
    padding-left: 120px;
    padding-right: 96px;
  }

  @screen xl {
    padding-left: 120px;
    padding-right: 108px;
  }

  @screen 2xl {
    padding-left: 140px;
    padding-right: 124px;
  }
}

// Input Main Style
.input-main-style {
  width: 100%;

  .input-style {
    border-radius: 50px;
    border: 1px solid $textPrimary;
    height: 50px;
    width: 100%;
    background: transparent;
    color: $textPrimary;
    padding: 0 20px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #6C7797;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #6C7797;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #6C7797;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

// button-outline
.button-outline {
  background: rgba(142, 136, 97, 0.1);
  border: 1px solid rgba(142, 136, 97, 0.31);
  height: 50px;
  padding: 0 30px;
  border-radius: 50px;
  color: #8E8861;
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;

  .icon {
    margin-left: 10px;
    position: relative;
    top: 1px;
  }

  img {
    filter: contrast(0) brightness(100);
  }

  &:hover {
    background: rgba(142, 136, 97, 0.15);
  }
}

.btn-join {
  width: 280px;
  white-space: nowrap;
  border-color: $textPrimary;
  color: $white;
  background-color: #1D1F2C;
}

// Button Gradient
.btn-gradient { 
  background: url('../assets/images/button-bg.svg');
  color: $textSecondary;

  &:hover {
    background: url('../assets/images/button-bg.svg');
    opacity: 0.5;
  }


  img {
    filter: contrast(0) brightness(100);
  }
}

.footer-style {
  background: #08090D;
  color: $textPrimary;
  padding-bottom: 20px;

  .divider {
    border-top: 1px solid #998378;
    margin-bottom: 20px;
    opacity: 0.3;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    a {
      margin-left: 12px;
      width: 50px;
      height: 50px;
      display: block;

      img {
        width: 100%;
      }
    }
  }
}


// container style
// .container {
//   max-width: 80%;
//   margin: 0 auto;
// }