@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/scss/bootstrap";

@import './fonts.scss';

// variables
@import "./variables/colors";
@import "./variables/mixins";

// Pages Style here
@import '../pages/join/join';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-bg {
  background: $bgColor;
}

a {
  color: inherit;
  text-decoration: none;
}

.flickity-enabled:focus {
  outline: none;
}

// titles here
.title1,
.title2,
.title3,
.title4,
.title5 {
  font-family: "Recife";
}

.title1 {
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 0.98px;
}

.title2 {}

.title3 {
  font-size: 30px;
line-height: 38px;
}

.title4 {}

.title5 {}

.title6 {}

.description {
  font-size: 16px;
  line-height: 24.8px;
  letter-spacing: -2%;
}

.p-section {
  padding: 24px;

  @screen md {
    padding: 24px 48px;
  }

  @screen lg {
    padding: 48px 96px;
  }

  @screen xl {
    padding: 48px 108px;
  }

  @screen 2xl {
    padding: 48px 124px;
  }
}

.px-section {
  padding-left: 24px;
  padding-right: 24px;

  @screen md {
    padding-left: 48px;
    padding-right: 48px;
  }

  @screen lg {
    padding-left: 96px;
    padding-right: 96px;
  }

  @screen xl {
    padding-left: 108px;
    padding-right: 108px;
  }

  @screen 2xl {
    padding-left: 124px;
    padding-right: 124px;
  }
}

// Section paddings when side bar is there!
.px-ws-section {
  padding-left: 24px;
  padding-right: 24px;

  @screen md {
    padding-left: 48px;
    padding-right: 48px;
  }

  @screen lg {
    padding-left: 120px;
    padding-right: 96px;
  }

  @screen xl {
    padding-left: 120px;
    padding-right: 108px;
  }

  @screen 2xl {
    padding-left: 140px;
    padding-right: 124px;
  }
}

// Input Main Style
.input-main-style {
  width: 100%;

  .input-style {
    border-radius: 50px;
    border: 1px solid #8E8861;
    height: 50px;
    width: 100%;
    background: transparent;
    color: #8E8861;
    padding: 0 20px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #302F2A;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #302F2A;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #302F2A;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

// button-outline
.button-outline {
  background: rgba(142, 136, 97, 0.1);
  border: 1px solid rgba(142, 136, 97, 0.31);
  height: 50px;
  padding: 0 30px;
  border-radius: 50px;
  color: #8E8861;
  transition: all 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-left: 10px;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: rgba(142, 136, 97, 0.15);
  }
}

.footer-style {
  background: #08090D;
  color: #8E8861;
  padding-bottom: 20px;

  .divider {
    border-top: 1px solid #998378;
    margin-bottom: 20px;
    opacity: 0.3;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    a {
      margin-left: 12px;
      width: 50px;
      height: 50px;
      display: block;

      img {
        width: 100%;
      }
    }
  }
}


// container style
// .container {
//   max-width: 80%;
//   margin: 0 auto;
// }